<app-header></app-header>
<!-- About Section Start -->
<div class="rs-about style11 mt-100 pb-100 md-pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 md-mb-30 mt-30">
                <div class="img-part js-tilt">
                    <img src="assets/images/cems/about.JPG" alt="images">
                </div>
            </div>
            <div class="col-lg-6 pl-65 md-pl-15 col-md-12">
                <div class="sec-title2 mt-50
                ">
                    <div class="sub-title">
                        History
                    </div>
                    <!-- <h2 class="title purple-color mb-30">
                        {{title}}
                    </h2> -->
                    <div class="bold-text mb-22">K.M. Patel Balshala Shishuvihar - Nursery </div>
                    <p class="desc mb-10">
                        Managed by Charotar Education Society is located in Mahatma Gandhi Vidyalaya Campus in Mogri.
                        The school was established in the year 1997.
                    </p>
                    <p class="desc mb-10">
                        When the school was established, the first principal of that time was Shri PannaBen Patel.
                        and currently Mafatlal Prajapati is the Principal. More than 200 students are studying in the
                        school. Activities related to various cultural studies,games are carried out in the school for
                        the overall development of the students. <br> <b> The full name of
                        the school is Kamlaben Manibhai Patel.</b>
                    </p>
                    
                </div>
                <!-- <div class="btn-part">
                    <a class="readon purple-btn" routerLink="#">Read More</a>
                </div> -->
            </div>
        </div>
        
    </div>
</div>
<!-- About Section End -->
<app-footer></app-footer>