<section class="servicesHome">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="servicesHome-box">



                    <h2>Message From From Principal's desk</h2>
                    <h5>Mrs Ratna Gurjar
                        <br>
                        <span>- Principal, K.M. Patel Shishuvihar / Balshala</span>
                    </h5>
                    <p>It is rightly said that, just as a strong and enduring structure requires a solid foundation, the
                        same principle applies to nurturing our most precious national assets – our future, i.e. our
                        children.</p>
                    <p>Raising confident children is one of the most difficult responsibilities for both parents and
                        teachers. It's rightly said that parents serve as the child's first educators, while teachers
                        take on the role of their second parents. Thus, it is essential for both to come together in the
                        growth and development of the child.</p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="video-section">
                    <div class="video-content">
                        <img src="assets/images/principal.jpg" alt="Pricipal" style="height: 100% !important;">
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="servicesHome-box">
                    <p>In addition to the home environment, I strongly believe that the school should offer a nurturing
                        space for children one that encourages curiosity as the initial step towards learning social
                        skills and instilling values.
                    </p>
                    <p>In our school, we uphold the belief that every student has the potential to succeed and reach
                        their full potential. We are dedicated to creating a safe and supportive atmosphere where
                        students can learn and flourish. Our mission is to ensure that they not only learn to
                        communicate effectively and explore their surroundings but also internalize values that will
                        guide them in their journey towards positive growth.
                    </p>
                    <p>So, on behalf of the school, I appeal to all the stakeholders to come together to make our
                        children’s first schooling experience a memorable one and set them on the path of lifelong
                        learning to become responsible and skilled citizens that shape the destiny of this great
                        country.</p>

                </div>
            </div>
        </div>
    </div>
</section>